[run]
source = ai_platform_trainer
omit =
    */venv/*
    */tests/*
    */__init__.py
    */setup.py
    */conftest.py

[report]
exclude_lines =
    # Skip any pragma comments
    pragma: no cover
    
    # Don't complain about missing debug-only code
    def __repr__
    if self\.debug
    
    # Don't complain if tests don't hit defensive assertion code
    raise NotImplementedError
    pass
    raise ImportError
    
    # Don't complain if non-runnable code isn't run
    if 0:
    if __name__ == .__main__.:

[html]
directory = reports/coverage_html
